:root{
    --bg: #c6c7c7;
    --containerbg: #7775767b;
    --grey:#b1b4b6;
    --darkgrey:#292d30;
    --red:#fff1b3;
    --hoverRed:#d195959a;
    --white: var(--white)
}
html, body {
    margin: 0;
    padding: 0;
    background-image: url('top6/newbackground.jpg.avif');
    background-size: cover;
    background-color: rgba(0, 0, 0, 10);
    font-family: 'Verdana', 'Arial', 'Tahoma', 'Serif';
  }  

  .logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }  

.imagesCard {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  
  .card-container {
    display: flex;
    flex-direction: row;
  }
  
  .card {
    width: 18rem;
    margin: 0 10px;
  }
  

  .card-title {
    font-weight: bold;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .card-body .btn {
    margin-top: auto;
  }

.movieTitle{
   display:flex;
   text-align: center;
   font-size:30px ;
   background-color: var(--red);
   border-radius: 15%;
   border:5px solid black;
   width: 39.5rem;
   height: 0rem;
   text-decoration: underline;
   justify-content: center;
   color: black;
   flex-direction: column;
   font-style: italic;  
}

#searchBar{
    flex-wrap: wrap;
    flex-direction: column;
    border-style: solid;
    width: 18rem;
    border-color:black;
    height: 3.3rem;
    font-size: 20px;
   
}
.my-list-btn, #add-my-list, #submitButton{
    border: 4px solid black;
    font-size: 1.3rem;
    background-color: var(--red);
    color: black;
    width: 12rem;
    text-align: center;
   

}
.my-list-btn:hover, #add-my-list:hover, #submitButton:hover{
    cursor: pointer;
    background-color: var(--hoverRed);
    color: black;
    font-weight: 400%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.body-box{
    box-sizing: border-box;
    border: 4px solid var(--darkgrey);
    border-style: solid;
    width:25rem;
    height: 50rem;
    float: inline-start;
    font-size: 1.2rem;
    color:black;
    width: 40rem ;
  
    display: block;

    margin: 1rem;
   
}

#actor{
    font-weight: 200;
    text-decoration: underline;
    margin-left: 20px;
    font-weight: bold;
}

#director {
    text-decoration: underline; 
    font-weight: bold;
    
}
#cast{
    justify-content: center;
    margin-left: 10px;
    color: var(--white);
    
}
#crew{
    text-align: center;
    margin-left: 10px;
    color: var(--white);
}
.castCrew{
    display: flex;
    justify-content: space-around;

}
#poster{
    justify-content: center;
    align-items: center;
    padding-left: 3.5rem;
    padding-top: 1rem;
    width: auto;
    height: fit-content;
    
}

#my-list-box{
    float: left;
    border: 3px double var(--darkgrey);
    color: black;
    padding: 8px;
    width: 250px;
    font-size: 20px;

}

#trailer-box, #currentEvents{
    border: 4px solid var(--darkgrey);
    width: 36rem;
    height: 25rem;
    text-align: center;
    color: var(--darkgrey);
    justify-content: center;
   

    display: block;

}

#body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fromWiki{
    color: black;
    text-decoration: underline;
    font-size: 18px ;
}

#right-side {
    display: block;
    margin: 1rem;
}

#left-side{
    display: block;
    margin: 1rem;
}


/*MODAL*/
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(224, 214, 187);
    /* Fallback color */
    background-color: rgba(110, 106, 94, 0.4);
    /* Black w/ opacity */
}

#poster {
    text-align: center;
    padding: 0;
    padding-top: 1rem;
}


/* Modal Content */
.modal-content {
    background-color: #333333;
    border: 5px double var(--red);
    margin: auto;
    padding: 20px;
    width: 80%;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

/* The Close Button */
.close {
    color: var(--red);
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#navbar-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
#searchForm{
    background-color: var(--darkgrey);
     }

@media screen and (max-width: 1175px) {
    #navbar-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
    }

    .navbar-item {
        margin: 0;
        top: 0;
        left: 0;
        text-align: center;
    }    
}

#my-list > li:hover {
    color: white;
    cursor: pointer;
}

a {
    color:var(--darkgrey);
}
a:hover {
    text-decoration: underline;
    color: var(--red);
}
/* SIGN UP/IN  */
  form{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 0rem 5rem;
    overflow: hidden;
    }
  
 
    .message {
      font-size: 1.2rem;
      color: rgb(78, 78, 78);
      margin-bottom: 10px;
    }
    
    .input {
      max-width: 380px;
      width: 100%;
      background-color: #f1cac8;
      margin: 10px 0;
      height: 55px;
      border-radius: 40px;
      display: grid;
      grid-template-columns: 15% 85%;
      padding: 0 0.4rem;
      position: relative;
    }
    
    .input i {
      text-align: center;
      line-height: 60px;
      color:  rgb(208, 110, 110);
      transition: 0.5s;
      font-size: 1.1rem;
    }
  
      
    .input input {
      background: none;
      outline: none;
      border: none;
      line-height: 1;
      font-weight: 600;
      font-size: 1.1rem;
      color: var(--darkgrey);
    }
    
  
  
  .button{
    width: 120px;
    height: 20;
    border: none;
    border-radius: 30px;
    outline:none;
    color: var(--darkgrey));
    background-color: var(--red);
    cursor: pointer;
    transition: 1s;
  }
  
  .button:hover{
    background-color: var(--hoverRed) ;
  }
  
  
  .account {
    display: grid;
    grid-template-columns: 1fr;
  grid-column: 1/2;
  grid-row: 1/2;
  }

  .fa-solid{
    color: var(--darkgrey);
  }
  .fa-solid:hover{
    color: var(--red);
  }
  
.divider {
    display: flex;
    justify-content: center;
    font-size: 40px;
    background-color: var(--red);
    color: white;
    margin-bottom: 25px;
    font-weight: bold;
  }

  .imagesCard {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }

  .card {
    display: inline-flex;
    justify-content: space-around;
  }

  .card-title {
    font-weight: bold;
  }
  
